<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form>
        <table>
            <tr>
                <td><a href="/onlineshopping/add_category/">Add Category</a></td>
            </tr>
            <tr>
                <td><a href="/onlineshopping/view_category/">View category</a></td>
            </tr>
            <tr>
                <td><a href="/onlineshopping/add_product/">Add Product</a></td>
            </tr>
            <tr>
                <td><a href="/onlineshopping/view_product_shop/">View Product</a></td>
            </tr>
            <tr>
                <td><a href="/onlineshopping/view_order_shop/">View order</a></td>
            </tr>
        </table>
    </form>
</body>
</html>