{% extends 'admin_index.html' %}
{% block body %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form >
        {% csrf_token %}
        <table>
            <tr style="background-color: #0B0F32;text-align: center;color: white;height: 50px">
                <th>SL No</th>
                <th>Name</th>
                <th>Email</th>
                <th>Contact</th>
                <th>Place</th>
                <th>Post</th>
                <th>District</th>
                <th>Pin</th>
            </tr>
            {% for i in data %}
            <tr style="background-color: #8285a1;text-align: center;color: white;height: 50px;">
                <td>&nbsp;{{ forloop.counter }}&nbsp;</td>
                <td>&nbsp;{{ i.uname }}&nbsp;</td>
                <td>&nbsp;{{ i.uemail }}&nbsp;</td>
                <td>&nbsp;{{ i.ucontact }}&nbsp;</td>
                <td>&nbsp;{{ i.uplace }}&nbsp;</td>
                <td>&nbsp;{{ i.upost }}&nbsp;</td>
                <td>&nbsp;{{ i.udistrict }}&nbsp;</td>
                <td>&nbsp;{{ i.upin }}&nbsp;</td>
            </tr>
            {% endfor %}
        </table>
    </form>
</body>
</html>
{% endblock %}